<template>
  <div id="order">
    <divider>Pending</divider>
    <flexbox :gutter="20">
      <flexbox-item v-for="number in pending" :key="number">
        <x-button
          :text="prettyNumber(number)"
          class="pendingOrder"
          @click.native="orderReady(number)"></x-button>
      </flexbox-item>
    </flexbox>
    <group title="Custom">
      <flexbox>
        <flexbox-item :span="5/7">
          <x-number
            title="Order #"
            name="order"
            v-model="customNumber"
            :min="0"
            :max="101"
            width="60px"
            @on-change="wrapXNumber"
            fillable></x-number>
        </flexbox-item>
        <flexbox-item>
          <x-button
            type="primary"
            text="Submit"
            @click.native="fake"
          ></x-button>
        </flexbox-item>
      </flexbox>
    </group>

    <divider>Ready</divider>
    <section style="text-align: center;">

      <order-tile
        v-for="order in ready"
        :key="order.time.valueOf()"
        :time="order.time"
        :disappearing="order.disappearing"
        @click.native="orderTaken(order)">
        {{ prettyNumber(order.number) }}
      </order-tile>
    </section>

    <toast v-model="showWarn" type="warn" :time="5000" width="20em">{{ ajaxErr }}</toast>
  </div>
</template>

<script>
  import { Divider, Flexbox, FlexboxItem, Group, XButton, XNumber, Toast } from 'vux';
  import OrderTile from './OrderTile';
  export default {
    components: {
      Divider,
      Flexbox,
      FlexboxItem,
      Group,
      XButton,
      XNumber,
      OrderTile,
      Toast
    },
    name: 'Controller',
    props: {
      sound: Boolean,
      autoDel: Boolean,
      autoDelPeriod: Number
    },
    data: function () {
      return {
        customNumber: 9,
        nextOrder: 9,
        total: 0,
        pending: [1, 2, 3, 4, 5, 6, 7, 8],
        ready: [],
        showWarn: false,
        ajaxErr: 'there is no ajax error'
      };
    },
    methods: {
      wrapXNumber (num) {
        if (num < 0)
          this.customNumber = 100;
        else if (num > 100)
          this.customNumber = 1;
      },
      orderReady (num) {
        this.pending.splice(this.pending.indexOf(num), 1);
        this.pending.push(this.nextOrder++);
        this.customNumber = this.reduceNumber(this.nextOrder);
        const order = {
          number: num,
          time: new Date(),
          disappearing: false,
          fake: false
        };
        this.$emit('update:cornerMsg', 'Total: ' + ++this.total);
        this.registerOrder(order);
      },
      fake () {
        const order = {
          number: this.customNumber++,
          time: new Date(),
          disappearing: false,
          fake: true
        };
        this.registerOrder(order);
      },
      /**
       * Call on every new order
       * @param order
       */
      registerOrder (order) {
        this.$http.get('/controller/rest/order', {
          params: {
            number: order.number,
            time: order.time
          }
        }).then(res => {
          console.log('/order response: ');
          console.dir(res);
        }).catch(err => {
          console.log('/order error: ');
          console.dir(err);
          this.ajaxErr = err;
          this.showWarn = true;
        });

        this.sound && new Audio('/static/sound.mp3').play();

        if (this.autoDel) {
          const disaPeriod = 10000;
          order.delTimer = setTimeout(() => {
            const i = this.searchOrder(order);
            if (i < 0)
              return;
            order = this.ready[i];
            order.disappearing = true;
            order.delTimer = setTimeout(() => {
              this.orderTaken(order);
            }, disaPeriod);
          }, this.autoDelPeriod - disaPeriod);
        }

        this.ready.unshift(order);
      },

      /**
       * call on every order deletion
       * @param order
       * @returns {boolean}
       */
      orderTaken (order) {
        const i = this.searchOrder(order);
        if (i < 0)
          return false;
        this.$http.get('/controller/rest/remove', {
          params: {
            number: order.number,
            time: order.time
          }
        }).then(res => {
          console.log('/remove response: ');
          console.dir(res);
        }).catch(err => {
          console.log('/remove error: ');
          console.dir(err);
          this.ajaxErr = err;
          this.showWarn = true;
        });
        clearTimeout(order.delTimer);
        this.ready.splice(i, 1);
        return true;
      },
      searchOrder (order) {
        for (let i = this.ready.length - 1; i >= 0; i--)
          if (this.ready[i].time === order.time)
            return i;
        return -1;
      }
    }
  };
</script>

<style>
  @media screen and (min-width: 500px) {
    main {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .pendingOrder {
    padding-top: 15px;
    padding-bottom: 15px;
  }
</style>
