<template>
  <div>
    <section style="text-align: center;">
      <order-tile
        v-for="order in ready"
        :key="order.time.valueOf()"
        :time="order.time"
        @click.native="orderTaken(order)">
        {{ prettyNumber(order.number) }}
      </order-tile>
    </section>
  </div>
</template>

<script>
  import OrderTile from './OrderTile';

  var healthTimer = null;

  export default {
    name: 'Display',
    components: {
      OrderTile
    },
    props: {
      sound: Boolean,
      sseBroken: Boolean,
      reloadWhenDead: Boolean
    },
    data: function () {
      return {
        ready: [],
        showWarn: false
      };
    },
    created: function () {
      document.body.classList.add('mianBackground');
    },
    mounted: function () {
      this.$emit('update:cornerMsg', 'v1.1.1 | The Spot');

      const es = new EventSource('/sse');

      es.onerror = e => {
        console.log(es.onerror);
        console.dir(e);
        this.sseBroken || this.$emit('update:sseBroken', true);
      };

      es.addEventListener('order', e => {
        const j = JSON.parse(e.data);
        this.ready.unshift({
          number: j.number,
          time: new Date(j.time)
        });
        this.sound && new Audio('/static/sound.mp3').play();
      });

      es.addEventListener('remove', e => {
        const num = this.reduceNumber(JSON.parse(e.data).number);
        this.ready = this.ready.filter(order => this.reduceNumber(order.number) !== num);
      });

      // should receive heartbeat from server ever 5 seconds
      es.addEventListener('heartbeat', e => {
        clearTimeout(healthTimer);
        this.sseBroken && this.$emit('update:sseBroken', false);
        healthTimer = setTimeout(() => {
          this.$emit('update:sseBroken', true);
          console.log('Did not receive heartbeat SSE from server in the last 10 seconds.');
          this.reloadWhenDead && window.location.reload(false);
        }, 10000); // check connection health every 10 seconds
        this.$emit('heartbeat', true);
      });
    }
  };
</script>

<style>
  body.mianBackground {
    background-image: url("/static/mian_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #c2c2c2;
    background-position: center;
    background-attachment: fixed;
  }
</style>
