<template>
  <div>
    <group title="Screens" id="screens">
      <router-link to="display">
        <icon-cell>
          <x-icon slot="icon" type="ios-monitor"></x-icon>
          <cell title="Display" value="tv" is-link></cell>
        </icon-cell>
      </router-link>
      <router-link to="controller">
        <icon-cell>
          <x-icon slot="icon" type="ipad"></x-icon>
          <cell title="Controller" value="iPad" is-link></cell>
        </icon-cell>
      </router-link>
    </group>

    <group title="Settings">
      <icon-cell>
        <x-icon slot="icon" type="ios-bell"></x-icon>
        <x-switch
          title="Sound"
          v-model="soundModel"
          @on-change="$emit('update:sound', soundModel)"></x-switch>
      </icon-cell>
      <icon-cell>
        <x-icon slot="icon" type="at"></x-icon>
        <x-input
          title="Name"
          type="text"
          placeholder="storeName"
          text-align="right"
          v-model="storeNameModel"
          @on-change="$emit('update:storeName', storeNameModel)"></x-input>
      </icon-cell>
      <icon-cell>
        <x-icon slot="icon" type="android-delete"></x-icon>
        <flexbox>
          <flexbox-item :span="1/2">
            <cell-box>
              <span>Auto-delete <em>ready</em> order...</span>
            </cell-box>
          </flexbox-item>
          <inline-x-switch v-model="autoDelModel" @on-change="$emit('update:autoDel', autoDelModel)"></inline-x-switch>

          <flexbox-item>
            <x-number
              :class="{pfDisable: true, d: !autoDelModel}"
              title="after"
              :step="10"
              :min="0"
              :max="720"
              v-model="autoDelMinutes"
              @on-change="$emit('update:autoDelPeriod', autoDelMinutes * 60000 /* convert min to milliseconds */)"
              fillable></x-number>
          </flexbox-item>
          <cell-box :class="{pfDisable: true, d: !autoDelModel}">min</cell-box>
        </flexbox>
      </icon-cell>
      <icon-cell>
        <x-icon slot="icon" type="ios-reload"></x-icon>
        <x-switch
          title="Reload display page if disconnected"
          v-model="reloadWhenDeadModel"
          @on-change="$emit('update:reloadWhenDead', reloadWhenDeadModel)"></x-switch>
      </icon-cell>
    </group>

    <group title="About">
      <cell-box>
        <p>
          <em>bujiaohao</em> is an
          <a href="https://gitlab.com/jennydaman/bujiaohao/blob/master/LICENSE" target="_blank">open-source</a>
          project by Jennings Zhang.
          It is a <a href="https://vuejs.org/" target="_blank">vue.js</a>
          <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank" title="TODO">PWA</a>
          using <a href="https://vux.li/" target="_blank">vux</a> for UI components.
        </p>
      </cell-box>
    </group>


  </div>
</template>

<script>
  import { Group, Cell, CellBox, Flexbox, FlexboxItem, XSwitch, InlineXSwitch, XNumber, XInput } from 'vux';
  import IconCell from './IconCell';
  export default {
    components: {
      Group,
      Cell,
      CellBox,
      Flexbox,
      FlexboxItem,
      XSwitch,
      InlineXSwitch,
      XNumber,
      XInput,
      IconCell
    },

    data () {
      return {
        // note: changing this line won't causes changes
        // with hot-reload because the reloaded component
        // preserves its current state and we are modifying
        // its initial state.
        soundModel: this.sound,
        storeNameModel: this.storeName,
        autoDelModel: this.autoDel,
        autoDelMinutes: this.autoDelPeriod / 60000,
        reloadWhenDeadModel: this.reloadWhenDead
      };
    },
    props: {
      sound: Boolean,
      storeName: String,
      autoDel: Boolean,
      autoDelPeriod: Number,
      reloadWhenDead: Boolean
    },
    watch: {
      storeName: function (updatedName) {
        this.storeNameModel = updatedName;
      },
      sound: function (val) {
        this.soundModel = val;
      },
      autoDel: function (val) {
        this.autoDelModel = val;
      },
      reloadWhenDead: function (val) {
        this.reloadWhenDeadModel = val;
      }
    }
  };
</script>

<style scoped>
  .vux-demo {
    text-align: center;
  }
  #screens a {
    color: black;
  }
  .pfDisable {
    will-change: color;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .pfDisable.d {
    color: grey;
  }
</style>
