<template>
  <flexbox :gutter="0">
    <span style="fill: dimgrey; padding-left: 15px;"><slot name="icon"></slot></span>
    <flexbox-item>
      <slot></slot>
    </flexbox-item>
  </flexbox>
</template>

<script>
  import { Flexbox, FlexboxItem } from 'vux';
  export default {
    name: 'IconCell',
    components: {
      Flexbox,
      FlexboxItem
    },
    props: {
      icon: String
    }
  };
</script>

