<template>
  <div>
    <msg
      title="Page not found"
      :buttons="[{type: 'warn', text: 'Go Back', onClick: () => { $router.push({path: '/'}) }}]"
      icon="warn"></msg>
  </div>
</template>

<script>
  import { Msg } from 'vux';
  export default {
    name: 'NotFoundComponent',
    components: {
      Msg
    }
  };
</script>
