<template>
    <div :class="{orderTile: true, waiting: waiting, disappearing: disappearing}">
      <p class="callNum">
        <slot></slot>
      </p>
      <p>
        <small>{{ dateFormat(time, 'hh:mm ') }} {{ time.getHours() <= 12 ? "AM" : "PM" }}</small>
      </p>
    </div>
</template>

<script>
  import { dateFormat } from 'vux';
  export default {
    name: 'OrderTile',
    props: {
      time: Date,
      disappearing: {
        default: false,
        type: Boolean
      }
    },
    data: function () {
      return {
        waiting: false
      };
    },
    mounted: function () {
      setTimeout(() => { // kind of a HACK
        this.waiting = true;
      }, 1000);
    },
    methods: {
      dateFormat: dateFormat
    }
  };
</script>

<style scoped>

  .orderTile {
    display: inline-block;
    padding: 14px 20px;
    margin: 12px 8px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    will-change: background-color;
    color: white;
    transition: 3s;
    transition-delay: 1s;
  }

  .callNum {
    font-weight: bolder;
    font-size: 300% !important;
  }

  .orderTile.waiting {
    background-color: #0066cc;
  }

  .orderTile.waiting.disappearing {
    background-color: darkviolet;
  }
</style>
