<template>
  <div id="app">
    <view-box ref="viewBox">
      <x-header
        :left-options="{showBack: false}"
        :title="storeName"
        slot="header">
        <x-icon
          type="android-menu"
          slot="right"
          style="fill: white"
          @click=""></x-icon>
      </x-header>
      <main>
        <router-view
          :cornerMsg.sync="cornerMsg"
          :storeName.sync="storeName"
          :sound.sync="sound"
          :autoDel.sync="autoDel"
          :autoDelPeriod.sync="autoDelPeriod"
          :reloadWhenDead.sync="reloadWhenDead"

          @heartbeat="heartbeat"
          :sseBroken.sync="connectionLost"
          ref="child">
        </router-view>
      </main>
      <footer slot="bottom" id="footer">
        <span style="padding-left: 5px; margin-right: 5px">
          {{ cornerMsg }}
        </span>
        <x-icon type="ios-heart" v-if="showHeart" style="fill: white;" size="16"></x-icon>
        <span v-if="connectionLost">DISCONNECTED</span>
        <div style="float: right; padding-right: 5px;">{{ now }} {{ new Date().getHours() <= 12 ? "AM" : "PM" }}</div>
      </footer>
    </view-box>
  </div>
</template>

<script>
  import { ViewBox, XHeader, Actionsheet, Alert, cookie, dateFormat } from 'vux';
  export default {
    components: {
      Actionsheet,
      Alert,
      ViewBox,
      XHeader
    },
    name: 'app',
    data: function () {
      return {
        now: dateFormat(new Date(), 'HH:mm ss'),
        cornerMsg: '(c) Jennings Zhang',
        showHeart: false,
        connectionLost: false,
        storeName: cookie.get('storeName'),
        sound: cookie.get('sound') !== 'false',
        autoDel: cookie.get('autoDel') !== 'false',
        autoDelPeriod: parseInt(cookie.get('autoDelPeriod')) || 1200000, // 20 minutes
        reloadWhenDead: cookie.get('reloadWhenDead') === 'true'
      };
    },
    created: function () {
      if (this.storeName === undefined)
        this.storeName = '面 MIAN Pull Noodle';
// eslint-disable-next-line no-return-assign
      setInterval(() => this.now = dateFormat(new Date(), 'HH:mm ss'), 1000);
    },
    watch: {
      storeName: function (val) {
        cookie.set('storeName', val);
      },
      sound: function (val) {
        cookie.set('sound', val);
      },
      autoDel: function (val) {
        cookie.set('autoDel', val);
      },
      autoDelPeriod: function (val) {
        cookie.set('autoDelPeriod', val);
      },
      reloadWhenDead: function (val) {
        cookie.set('reloadWhenDead', val);
      }
    },
    methods: {
      heartbeat () {
        this.showHeart = true;
        setTimeout(() => {
          this.showHeart = false;
        }, 1000);
      }
    }
  };
</script>

<style lang="less">
  @import '~vux/src/styles/reset.less';

  @header-background-color: pink;

  body {
    background-color: #fbf9fe;
  }

  #app {
    height: 100%;
  }

  html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #35495e;
    color: white;
  }

  #modal {
    word-break: normal !important;
    word-wrap: normal !important;
  }
</style>
